<div class="header-container">
    <h1>Lista de Héroes</h1>
    <mat-form-field appearance="outline">
      <mat-label>Buscar héroe</mat-label>
      <input matInput 
            (input)="filterHeroes($event)" 
            placeholder="Ej: Superman" 
        />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  
  <button mat-raised-button class="add-hero-button" color="primary" (click)="createHero()">
      + Crear Héroe
  </button>
  <div class="table-container">

    <mat-table [dataSource]="heroes()" class="mat-elevation-z8">
      
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let hero" class="hero-name"> {{ hero.name }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
        <mat-cell *matCellDef="let hero">
            <img 
            [src]="hero.images.sm" 
            [alt]="hero.name" 
            width="80" 
            (click)="openHeroCard(hero)" 
            style="cursor: pointer;"
          />
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="powerstats">
        <mat-header-cell *matHeaderCellDef> Poderes Stats </mat-header-cell>
        <mat-cell *matCellDef="let hero">
          🧠 {{ hero.powerstats.intelligence }} | 💪 {{ hero.powerstats.strength }} | ⚡ {{ hero.powerstats.speed }}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="appearance">
        <mat-header-cell *matHeaderCellDef> Apariencia </mat-header-cell>
        <mat-cell *matCellDef="let hero">
          👤 {{ hero.appearance.gender }} | 🎨 {{ hero.appearance.eyeColor }} | 📏 {{ hero.appearance.height[1] }}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="biography">
        <mat-header-cell *matHeaderCellDef> Biografía </mat-header-cell>
        <mat-cell *matCellDef="let hero">
          🏡 {{ hero.biography.placeOfBirth }} | 🏷 {{ hero.biography.publisher }}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let hero">
          <button mat-icon-button (click)="editHero(hero.id)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteHero(hero.id)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
    </mat-table>

    <mat-paginator #paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </div>
  